aiohttp==2.2.1
async-timeout==1.2.1
beautifulsoup4==4.5.1
chardet==3.0.4
configparser==3.5.0
Django==1.10.4
image==1.5.5
jieba==0.38
Jinja2==2.9.6
lxml==4.2.4
MarkupSafe==1.0
msgpack==0.5.6
multidict==3.1.0
numpy==1.11.2
pandas==0.19.1
Pillow==3.4.2
pyasn1==0.1.9
pygame==1.9.3
python-dateutil==2.6.0
python-magic==0.4.12
pytz==2016.10
pyzmq==17.1.2
requests==2.12.3
rsa==3.4.2
selenium==3.8.0
simplejson==3.16.0
six==1.10.0
splinter==0.7.7
tushare==1.2.12
yarl==0.11.0
